
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/img/brown.jpg); 
  }
  
  
  #actual{
      
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),url(../../assets/img/brown.jpg);
      font: italic bold 20px Tahoma;
  }
  
  /* Column container */
  .row {  
    top:260px;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    text-align:center;
  }
  
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  aside {
    flex: 10%;
    background-color: #efe9e9;
    padding: 20px;
  }
  
  aside .pic1 img{
      border-radius: 25%;
  }
  
  aside .colleague img{
      border-radius: 80%;
  }
  
  
  /* Main column */
  main {
    flex: 30%;
    background-color: #efe9e9;
    padding: 20px;
    
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #efe9e9;

  }
  
  aside h2::first-line{
      font:italic 150% Arial;
  }
  
  main h1::first-line{
      font: italic 40px Arial;
      
  }
  
  main p::first-letter {
    font: italic 1.5em Arial;
  }
  
  .box div {
    width: 80%;
    top:40%;

  }
  
  footer span {
      position: fixed;
      bottom:0;
      
      text-align: center;
      padding:3px;
      margin-top: 100%;
      width: 100%;
  }
  
  table{
      width:100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/img/brown.jpg);
      border: 1px solid #333;
      color:white;
      }
  
  table, th, td {
    border: 1px solid url(../../assets/img/brown.jpg);
  }
  



  
  @keyframes becsuszas {
    from {left: -40px;}
    to {left: 0px;}
  }
  
  #div1 {animation-timing-function: linear;}
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .row, .navbar {   
      flex-direction: column;
    }}



    .topnav {
      overflow:hidden;
      position: absolute;
      top:28%;
      left:0%;
      width:100%;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/brown.jpg);
    }
    
    .topnav a {
      float: left;
      display:block;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../../assets/img/brown.jpg);
      color: white;
      cursor:pointer;
    }
    
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .topnav .login-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      width:120px;
    }
    
    .topnav .login-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background-color: #555;
      color: white;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .login-container button:hover {
      background-color: green;
    }
    .logout{
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 9)), url(../../assets/img/brown.jpg);
    }
    .basket:hover{
      cursor: pointer;
    }
    